<html layout:decorator="fragment/layout-labor">
<!-- /* Content of this page will be decorated by the elements of layout.html (fragment/layout) */ -->
<head>
	<style type="text/css">	
		h1{text-decoration: none;}
	</style>
</head>
<div layout:fragment="content">
	<Strong class="navbar-text">Fingerprints</Strong>
	<ul class="nav nav-tabs">
		<li class="active">
			<a>List</a>
		</li>
		<li>
			<a th:href="@{/fingerprint/list-online}">Online</a>
		</li>
	</ul>
	<span id="tips" style="color: red;">&nbsp;</span>

	<input size="60" class="" type="text" name="searchkey" id="searchkey">
	<input type='button' class="btn btn-primary btn-sm" onclick='doSearch(0);' value='SEARCH'/>	 
	<input type="button" class="btn btn-default btn-xs" onclick="clearInput();" value="clear"/>	

	<p id="datalist"/>

</div>
</html>

<script type="text/javascript">

$(document).ready(function(){
	doSearch(0);
});

function clearInput(){
	//document.getElementById('value').value='';
	$("#searchkey").val("");
};
function doSearch(page){
	var searchkey  = $("input[name='searchkey']").val();
	var url = "";
	if (searchkey!=null&&searchkey!=""){
		url = l("/rest/fingerprints/valuestart-sort-page-list?sortby=id&page="+page+"&valuestart="+searchkey);
	}else {
		url = l("/rest/fingerprints/sort-page-list?sortby=id&page="+page)
	}
	$.ajax({
		type: "GET",
		url: url,
		contentType: "application/json;charset=utf-8",
		dataType: "json",
		success:function (result) {
			if(result.code==1){
				setData2Page(result.data)
			}
		}
	});
};
function nextpage(page){
	doSearch(page+1);
};

function prevpage(page){
	doSearch(page-1);
};

function setData2Page(page){
	if(page!=null){
		var data = page.content;
		var pagehtml = createPaginationHtml(page.totalPages,page.totalElements,page.number,"doSearch");
		var datalisthtml = 
							"<table class='table table-condensed table-hover'>"+
        					"<tr><th></th>"+	
					        "<th>value</th>"+
					        "<th>type</th>"+
					        "<th>date</th>"+				       
					        "<th>status</th>"+
	    					"</tr>";

	    var offset = page.number*page.size;
		for (var i = 0; i < data.length; i++) {
			datalisthtml = datalisthtml + "<tr>" + "<td>" + (offset+i+1)+ "</td>";
			datalisthtml = datalisthtml	
				
				+ "<td>" + data[i].value+ "</td>"
				+ "<td>" + data[i].type+ "</td>"
				+ "<td>" + formatDateString(data[i].lastUpdateDate)+ "</td>";

			if(data[i].status!="1"){
				datalisthtml = datalisthtml	+ 
					"<td><input type='button' class='btn btn-default btn-xs' onclick="+"javascript:doStatus('"+data[i].id+"',1);"+" value='open'/></td>";
			} else {
				datalisthtml = datalisthtml	+ 
					"<td><input type='button' class='btn btn-warning btn-xs' onclick="+"javascript:doStatus('"+data[i].id+"',0);"+" value='CLOSE'/></td>";
			}
			datalisthtml = datalisthtml + "</tr>" ;
	    }

		datalisthtml = datalisthtml + "</table>" + "<div style='float: right;'>"+pagehtml + "</div>";
		$("#datalist").html(datalisthtml);
	} else {
		$("#datalist").html("No data found.");
	}
};
function doStatus(id,status){
	$.ajax({
		type: "PATCH",
		url: l("/rest/fingerprints/"+id+"/status/"+status),
		contentType: "application/json;charset=utf-8",
		data: {},
		dataType: "json",
		success:function (result) {
			if(result.code==1){
				window.location.href = getContextPath()+"/fingerprint/list";
  	       	} 
		}
	});
	
}
</script>