<html layout:decorator="fragment/layout"><div layout:fragment="content">
<!-- <h2 class="visible-lg visible-md" id="loginstatus">Waiting for login....</h2>-->
<ul class="nav nav-tabs">
	<li class="active"><a th:text="#{auth.label.userpassword}"></a></li>
	<li><a th:href="@{/auth/login-code}" th:text="#{auth.label.authcode}"></a></li>
</ul>
		<span id="tips" style="color: red; font-weight: bold;">&nbsp;</span>
			<table class="table" border=0>
			<tr class="visible-lg visible-md">
				<td width="20%">
				<span style="float:right;font-weight:bold;">CF</span>
				</td>
				<td><input readonly="true" class="form-control" type="text" id="cfmd5" name="cfmd5">
				</td>
			</tr>
				<td>
				<span class="visible-lg visible-md" style="float:right;font-weight:bold;" th:text="#{auth.label.user}"></span>
				</td>
				<td><input class="form-control" type="text" name="name" id="name" placeholder="name/phone">
				</td>
			</tr>
				<td>
				<span class="visible-lg visible-md" style="float:right;font-weight:bold;" th:text="#{auth.label.password}"></span>
				</td>
				<td><input class="form-control" type=password name="password" id="password" placeholder="password"> 
				</td>
			</tr>
			<tr class='visible-lg'>
				<td>
				</td>
				<td>
					<div class='checkbox' id="checkboxrememberme" style="display:none;">
						<label class='btn btn-default'>
							<input id="rememberme" name="rememberme" value="1" type="checkbox" onchange="javascript:rememberMe(this);" 
									th:text="#{auth.label.rememberme}"></input>
						</label>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
						<center>
						<button type='button' class='btn btn-primary' id="loginbutton" onclick='doLogin();' th:text="#{auth.button.login}"></button>
						&nbsp;
						<a class="prms" permission="signup" th:href="@{/auth/signup-auth-code}" th:text="#{auth.button.signup}"></a>
						</center>
				</td>
			</tr>
			</table>

<br>

</div>
</html>
<script type="text/javascript" th:src="@{/js/fingerprint2.min.js}"></script>
<script type="text/javascript">
$(document).ready(function(){
/*
	if (window.requestIdleCallback) {
		console.log("requestIdleCallback");
		requestIdleCallback(doBeforeLogin);
	} else {
		console.log("setTimeout");
		setTimeout(doBeforeLogin, 500);
	}
*/
});
/***start post canvas fingerptint*********/
var redirecturl=getQueryString("redirecturl");
if (redirecturl==null){
	redirecturl = getContextPath()+"/auth/user-info";
}
var cfmd5;
if (window.requestIdleCallback) {
	console.log("requestIdleCallback");
	requestIdleCallback(postFingerprint);
} else {
	console.log("setTimeout");
	setTimeout(postFingerprint, 500);
}
function postFingerprint(){
	f(function(cf){
		$.ajax({
			type: "POST",
			url: addToken("/rest/auth/f/c"),
			contentType: "application/json;charset=utf-8",
			data: JSON.stringify({"cfmd5": cf}),
			dataType: "text",
			success:function (result) {
				console.log(result);
				cfmd5 = cf;
				toLogin();
			}
		}); 
	});
}
/***end post canvas fingerptint**********/

$("input[name='name']").keydown(function() {
    if (event.keyCode == "13") {
        $("input[name='password']").focus();
        $("input[name='password']").select();
    }
});
$("input[name='password']").keydown(function() {
    if (event.keyCode == "13") {
        doLogin();
    }
});

function toLogin(){
	$("input[name='cfmd5']").val(cfmd5);
	$.ajax({
		type: "GET",
		url: addToken("/rest/auth/u/c/"+cfmd5),
		contentType: "application/json;charset=utf-8",
		dataType: "json",
		success:function (result) {
			handleResultCode(result, function (result) {
				$("input[name='name']").val(result.data.name);
				if (result.data.description!=null){
					//if(result.data.description.indexOf("norememberme")==-1){
						document.getElementById('checkboxrememberme').style.display='block';						
						if(result.data.description.indexOf("remembermechecked")>0){
							$("input[name='rememberme']")[0].checked = true;
							$("input[name='password']").val("rememberme");
						} else if (result.data.description.indexOf("remembermeunchecked")>0){
							$("input[name='rememberme']")[0].checked = false;
							$("input[name='password']").val("");
						}
					//}
				}
			});
		}
	});
}
function doLogins(){

	$("#loginbutton").button('loading').queue();
	alert(1);
}

function doLogin(){
	
	$("#loginbutton").button('loading').queue();

	document.getElementById("tips").innerText="\n";
	var name = $("input[name='name']").val();
	var pwd=$("input[name='password']").val();
	var cfmd5=$("input[name='cfmd5']").val();
	
	var rememberme = 0;
    var obj=document.getElementsByName('rememberme'); 
    for(var i=0; i<obj.length; i++){ 
        if(obj[i].checked) {
        	rememberme = obj[i].value; 
        }
    } 
	
	if (name==null||name==""||pwd==null||pwd==""){
		document.getElementById("tips").innerText="Empty Name or Password.";
		$("#loginbutton").button('reset');
        $("#loginbutton").dequeue(); 
		return;
	} 
	
	var dstr = d();
	var saltpwdmd5 = "";
	$.ajax({
		type: "GET",
		url: addToken("/rest/auth/u/s/a/"+name),
		async: false,
		contentType: "application/json;charset=utf-8",
		dataType: "json",
		success:function (result) {
			handleResultCodeDisplayErrorDefaultMsg("tips", result, "Wrong Name or Password...", function (result) {
				saltpwdmd5= md5(dstr+md5(result.data+md5(pwd)));
				console.log(result.data);
				
			});
		},
        complete:function(){
        }
	});
	if(saltpwdmd5!=null&&saltpwdmd5!=""&&saltpwdmd5!="undefined"){
		var postdata = {"name": name, "saltpwdmd5": saltpwdmd5, "cfmd5":cfmd5, "rememberme":rememberme};
		var button = $("#loginbutton");
		$.ajax({
			type: "POST",
			url: addToken("/rest/auth/login/",dstr),
			async: false,
			contentType: "application/json;charset=utf-8",
			data: JSON.stringify(postdata),
			dataType: "text",
			success:function (message) {
				if (message=="1") {
	         		//window.location.href = getContextPath()+"/auth/user-info";
					window.location.href = redirecturl;
	  	       	} else if (message=="-2"){
	  	       		document.getElementById("tips").innerText="Empty Name.";
	  	       		button.button('reset');
					button.dequeue(); 
	  	       	} else if (message=="-3"){
	  	       		document.getElementById("tips").innerText="Wrong Name or Password.";
	  	       		button.button('reset');
					button.dequeue(); 
	  	       	} else if (message=="-4"){
	  	       		document.getElementById("tips").innerText="The Account is not open.";
	  	       		button.button('reset');
					button.dequeue(); 
	  	       	} else {
	  	       		window.location.href = getContextPath()+"/public/error";
	  	       	}
			}
		});
	} else {
		$("#loginbutton").button('reset');
        $("#loginbutton").dequeue(); 
	}
	


}
function rememberMe(obj){
	if(obj.checked){
		
	} else {
		$("input[name='password']").val("");
	}
}

</script>
