<html layout:decorator="fragment/layout-labor">
	<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
	<div layout:fragment="content">
		<div id="defaulthtml" style="display: none;">	
		
			<div style="border: 1px solid lightgray;">
				<table class="" border="0">
					<tr>
					<td width=""><p class="label label-default" style="font-size: 30px;">Fingerprint</p>&nbsp;&nbsp;</td>
					<td width=""><p class="label label-default" style="font-size: 30px;">User</p>&nbsp;&nbsp;</td>
					<td width=""><p class="label label-default" style="font-size: 30px;">Role</p>&nbsp;&nbsp;</td>
					<td width=""></td>
					</tr>
					
					<tr>
						<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
					</tr>
					<tr>
						<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
					</tr>
					<tr>
						<td><h2></h2></td>
						<td><h2></h2></td>
						<td><h2></h2></td>
						<td><p class="label label-info" style="font-size: 20px;">Configuration</p></td>
					</tr>
					<tr>
						<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
					</tr>
					<tr>
						<td><h2></h2></td>
						<td><h2></h2></td>
						<td><h2></h2></td>
						<td><p class="label label-info" style="font-size: 20px;">Dictionary</p></td>
					</tr>
					<tr>
						<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
					</tr>
					<tr>
						<td><h2></h2></td>
						<td><h2></h2></td>
						<td><h2></h2></td>
						<td><p class="label label-info" style="font-size: 20px;">Rich Text</p></td>
					</tr>
				</table>
			</div>

		
		
			<h3><ul><li>Fingerprint:  </li></ul></h3>		
					<h4>1, Each browser client created a fingerprint. &nbsp;&nbsp;eg.8e390fa**********13716267 </li></ul></h4>
					<h4>2, OPEN or CLOSE it to control the accessing right. </li></ul></h4>
					
			<h3><ul><li>User:</li></ul></h3> 
					<h4>1, Manage each signed up users, OPEN or CLOSE it to control the accessing right.</li></ul></h4>	
					<h4>2, Change the password. </li></ul></h4>
					<h4>3, Grant the roles to the user. </li></ul></h4>
					
			<h3><ul><li>Role: </li></ul></h3>	
					<h4>1, Create and edit the roles. </li></ul></h4>
					<h4>2, Grant the permission to the roles. </li></ul></h4>
					
			<h3><ul><li>Thanks to:  </li></ul></h3>		
					<h4><li><a href="https://www.apache.org/">apache.org</a> </li></ul></h4>
					<h4><li><a href="https://spring.io/">spring.io</a>  </li></ul></h4>
					<h4><li><a href="https://ckeditor.com">ckeditor.com</a>  </li></ul></h4>
					<h4><li><a href="https://getbootstrap.com/">bootstrap</a>  </li></ul></h4>
					<h4><li><a href="https://cn.vuejs.org/">Vue.js</a>  </li></ul></h4>
					<h4><li><a href="https://github.com/hankcs/HanLP">HanLP</a>  </li></ul></h4>
		</div>
		<p id="datahtml"/>
	</div>


</html>

<script type="text/javascript" th:src="@{/js/ckeditor5-doc.js}"></script>
<script type="text/javascript">


var myEditor;
$(document).ready(function(){
	/**
	DecoupledEditor
	    .create( document.querySelector( '#datahtml' ) )
	    .then( editor => {
	    	editor.isReadOnly = true; 
	        myEditor = editor;
	    } )
	    .catch( error => {
	        console.error( error );
	    } );
	**/
	findInfo();
	
});
function findInfo(){
	$.ajax({
		type: "GET",
		url: l("/rest/core/richtexts/name-"+"settings"),
		contentType: "application/json;charset=utf-8",
		dataType: "json",
		success:function (result) {
			if(result.code==1){
				//myEditor.setData(result.data.html);	
				$("#datahtml").html(result.data.html);
			} else {
				$("#defaulthtml").css("display","block");
			}
		}
	});
};
</script>
