<html layout:decorator="00.core/asample/layout-labor-2">
<div layout:fragment="content">
<style type="text/css">
</style>

<head>
<link href="https://cdn.bootcss.com/bootstrap-select/1.12.4/css/bootstrap-select.min.css" rel="stylesheet">
</head>
<Strong>A Sample - jsencrypt</Strong>
<div style ="float: right; ">
	<a class="nav" href="http://travistidwell.com/jsencrypt/">http://travistidwell.com/jsencrypt/</a>&nbsp;
</div>


<input class="form-control" type="text" name="searchkey" id="searchkey">
<button type="button" class="btn btn-primary" onclick="doEncryption();">encrypt</button>	 

<p id="encryptionresult"  style="word-break:break-all;"></p>
</div>
</html>

<script type="text/javascript" th:src="@{/js/jsencrypt.min.js}"></script>

<script type="text/javascript">
//Create the encryption object and set the key.
var crypt = new JSEncrypt();
//publickey
crypt.setPublicKey("MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCwjDm1HXDw8QH5ZtGMQIl2h/I8E+chOQA8aQ8xCR/+aHnROaN/ZU5Vmd2Zz7g6cAacR9BSm60+iSCYtvEGJKl0WqvbPGJkc8tedjNF1QqgWqkkuE6Udgw2OkEKJCxDg6PrAniR7Cc0io9G8bW4P8JDJjSbbafvMPDDFbVVUWJxxwIDAQAB"); 
crypt.setPrivateKey("MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBALCMObUdcPDxAflm0YxAiXaH8jwT5yE5ADxpDzEJH/5oedE5o39lTlWZ3ZnPuDpwBpxH0FKbrT6JIJi28QYkqXRaq9s8YmRzy152M0XVCqBaqSS4TpR2DDY6QQokLEODo+sCeJHsJzSKj0bxtbg/wkMmNJttp+8w8MMVtVVRYnHHAgMBAAECgYAOLuW/8CKPqL0A3Uq+WrzwYdGLFApAeATV1Zbb2KDSXnBS56+D346gf+D2p2Jkh3VwfrB0wn7zhC6zNhc86BsY1K6Q7xU8b7asDBqki48H3ExuxjEosEqUdLf9p9pPBCPI3I4CN/EZPEoFjNRNi5ZX/CY4iaOgsXPHEkcxuW3GQQJBAOBo9UpXesZYCsmuuGN5SOy6tXI613NUBvXKXkxBil3ZOqozlaSjv5NSQb2zLeh2DcYfecumfgn04rNM/pLeDmECQQDJZnXWg4VrXdjc9hqu/8rkmxdhsr3ERkX1uKJrDUB+AOdFs6mS9gEHnJ70zqQ2ucbhQ4htulbLc9pBVL5gy+EnAkEArdhhfa/7SsBVyxvxeA4zMkEJ4242Df/gTHTzTDvRxxZL3iKMILlB5gzpJN40CEu8K+miXuOh7HCrVp+k733awQJBAMDkERhS/wXF7F40l3nkIz6wC8TWnEnPxFGDdItzNcF4vAhV+qN2WaYgq11sTHrdk01MkO4G+foCC5dmwq+SlSECQGm58ReqUTRDAKl32VX0vEdVvOj2getVxW6jQjJFiGj8iNDfK+DpiLfns3YjwSlWHGxHz1S6/lQ+58+M+fEyvUs="); 
//You can use also setPrivateKey and setPublicKey, they are both alias to setKey

//Eventhough the methods are called setPublicKey and setPrivateKey, remember
//that they are only alias to setKey, so you can pass them both a private or
//a public openssl key, just remember that setting a public key allows you to only encrypt.



function doEncryption(){
	var searchkey  = $("input[name='searchkey']").val();
	var text = searchkey;
	// Encrypt the data with the public key.
	var enc = crypt.encrypt(text);
	// Now decrypt the crypted text with the private key.
	var dec = crypt.decrypt(enc);

	// Now a simple check to see if the round-trip worked.
	if (dec === text){
	    alert('It works!!!');
	} else {
	    alert('Something went wrong....');
	}
	$("#encryptionresult").html(enc)
}
$(document).ready(function(){
	
});

</script>