<!DOCTYPE html>
<html>
<head>
	<META http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
	<link rel="shortcut icon" th:href="@{/img/favicon.png}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" ></link>
	<link rel="stylesheet" type="text/css" th:href="@{/css/core.css}"></link>
</head>

   	<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/labor.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/core.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>


	<!-- 
	<div th:replace="fragment/labor-blackwhite/layout-rightmenu :: layout-rightmenu"></div>
	<div th:replace="fragment/labor-blackwhite/layout-leftmenu :: layout-leftmenu"></div>
	<div th:replace="fragment/labor-blackwhite/layout-middlemenu :: layout-middlemenu"></div>
	<div th:replace="fragment/labor-bootstrap/layout-middlemenu :: layout-middlemenu"></div>
 	-->
	<div th:replace="00.core/asample/layout-rightmenu :: layout-rightmenu"></div>
	
		
<script type="text/javascript">
window.onload=function(){
	show4Permissions();
	show4CurrentUser();
};

$(document).ready(function(){
}); 
</script>
</html>