<div th:fragment="sidemenu">  
	<div style="float: top left;">
	<ul class="">
	  <li class=""><a class="" th:href="@{/core/asample/validation}"><span>validation</span></a>&nbsp;</li>
	  <li class=""><a class="" th:href="@{/core/asample/bootstrap}"><span>bootstrap</span></a>&nbsp;</li>
	  <li class=""><a class="" th:href="@{/core/asample/layui}"><span>layui</span></a>&nbsp;</li>
	  <li class=""><a class="" th:href="@{/core/asample/canvas}"><span>canvas</span></a>&nbsp;</li>
	  <li class=""><a class="" th:href="@{/core/asample/canvas2}"><span>canvas2</span></a>&nbsp;</li>
	  <li class=""><a class="" th:href="@{/core/asample/fingerprintjs2}"><span>fingerprintjs2</span></a>&nbsp;</li>
	  <li class=""><a class="" th:href="@{/core/asample/ckeditor}"><span>ckeditor</span></a>&nbsp;</li>
	  <li class=""><a class="" th:href="@{/core/asample/ckeditor-doc}"><span>ckeditordoc</span></a>&nbsp;</li>
	  <li class=""><a class="" th:href="@{/core/asample/select}"><span>select</span></a>&nbsp;</li>
	  <li class=""><a class="" th:href="@{/core/asample/verification-slider}"><span>verification slider</span></a>&nbsp;</li>
	  <li class=""><a class="" th:href="@{/core/asample/vue-router}"><span>vue-router</span></a>&nbsp;</li>
	</ul>
	</div>
</div>
