<div th:fragment="sidemenu">  
	<div style="float: top left;">
	<ul class="">
	  <li class=""><a class="" th:href="@{/asample/validation}"><span>validation</span></a>&nbsp;</li>
	  <li class=""><a class="" th:href="@{/asample/bootstrap}"><span>bootstrap</span></a>&nbsp;</li>
	  <li class=""><a class="" th:href="@{/asample/layui}"><span>layui</span></a>&nbsp;</li>
	  <li class=""><a class="" th:href="@{/asample/canvas}"><span>canvas</span></a>&nbsp;</li>
	  <li class=""><a class="" th:href="@{/asample/canvas2}"><span>canvas2</span></a>&nbsp;</li>
	  <li class=""><a class="" th:href="@{/asample/fingerprintjs2}"><span>fingerprintjs2</span></a>&nbsp;</li>
	  <li class=""><a class="" th:href="@{/asample/ckeditor}"><span>ckeditor</span></a>&nbsp;</li>
	  <li class=""><a class="" th:href="@{/asample/ckeditor-doc}"><span>ckeditordoc</span></a>&nbsp;</li>
	  <li class=""><a class="" th:href="@{/asample/select}"><span>select</span></a>&nbsp;</li>
	  <li class=""><a class="" th:href="@{/asample/verification-slider}"><span>verification slider</span></a>&nbsp;</li>
	  <li class=""><a class="" th:href="@{/asample/vue-router}"><span>vue-router</span></a>&nbsp;</li>
	</ul>
	</div>
</div>
