<html layout:decorator="fragment/layout-labor">
<!-- /* Content of this page will be decorated by the elements of layout.html (fragment/layout) */ -->

<div layout:fragment="content">
<Strong>Roles - List</Strong>&nbsp;&nbsp;
<span id="tips" style="color: red;">&nbsp;</span>
<br><br>
<form id="roleform">
	<table border=0>
	<tr>
		<td width="130px;">
		<span style="float:right;font-size: 20px; font-weight:bold;">Name:&nbsp;&nbsp;*</span>
		</td>
		<td><input size="60" type="text" name="name" id="name"
					onkeyup="this.value=this.value.replace(/[^\w~!@#$%^&*_+]/g,'');" 
					onafterpaste="this.value=this.value.replace(/[^\w~!@#$%^&*_+]/g,'');">
		</td>
	</tr>
	<tr>
		<td>
		<span style="float:right;font-size: 20px; font-weight:bold;">Description:&nbsp;&nbsp;&nbsp;</span>
		</td>
		<td>
			<input size="60" type="text" name="description" id="description">
			<input type='button'  class="btn btn-primary" onclick='doCreate();' value='CREATE'/>
		</td>
	</tr>
	</table>
</form>
	<br>
	
	<input size="60" type="text" name="searchkey" id="searchkey">
	<input type='button' class="btn btn-primary btn-sm" onclick='doSearch();' value='SEARCH'/>	 
	<input type="button" class="btn btn-default btn-xs" onclick="clearInput();" value="clear"/>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	
	<input type="button" class="btn btn-warning btn-xs pull-right"  id="loadpermissionbutton" onclick="doCreatePermission();" data-loading-text="Loading..." value="Load Permission"/>

	<br>

	<p id="datalist"/>

</div>
</html>
<script type="text/javascript" th:src="@{/js/xss.js}"></script>
<script type="text/javascript">

$(document).ready(function(){
	listAll();

});

function listAll(){
	$.ajax({
		type: "GET",
		url: l("/rest/roles/sort-list"),
		contentType: "application/json;charset=utf-8",
		dataType: "json",
		success:function (result) {
			if (result.code=="1") {
				setData2Page(result.data);
			}
		}
	});
};
function clearInput(){
	//document.getElementById('value').value='';
	$("#searchkey").val("");
};
function doSearch(){
	var searchkey  = $("input[name='searchkey']").val();
	if (searchkey!=null&&searchkey!=""){
		$.ajax({
			type: "GET",
			url: l("/rest/roles/namestart-list?namestart="+searchkey),
			contentType: "application/json;charset=utf-8",
			dataType: "json",
			success:function (result) {
				if (result.code=="1") {
					setData2Page(result.data);
				}
			}
		});
	}else {
		listAll();
	}
};
function setData2Page(data){
	if(data!=null&&data.length>0){
		var datalisthtml = "<table class='table table-condensed table-hover'><tr>"+				       
					        "<th>id</th>"+
					        "<th>name</th>"+
					        "<th>description</th>"+
					        "<th>status</th>"+
					        "<th>date</th>"+
					        "<th></th>"+
	    					"</tr>";
	
		for (var i = 0; i < data.length; i++) {
			datalisthtml = datalisthtml + "<tr>" ;
			datalisthtml = datalisthtml	
				+ "<td><input class='form-control' id='rid"				+data[i].id+"' readonly size='1' type='text' value='"+data[i].id+"'/></td>"
				+ "<td><input class='form-control' id='rname"			+data[i].id+"' readonly size='20' type='text' value='"+filterXSS(data[i].name)+"'/></td>"
				+ "<td><input class='form-control' id='rdescription"		+data[i].id+"' readonly size='20' type='text' value='"+filterXSS(data[i].description)+"'/></td>"
				+ "<td><input class='form-control' id='rstatus"			+data[i].id+"' readonly size='4' type='text' value='"+filterXSS(data[i].status)+"'/></td>"
				+ "<td>"+formatDateString(data[i].lastUpdateDate)+"</td>"
				+ "<td><input class='btn btn-warning btn-xs' id='button"		+data[i].id+"' type='button' onclick='javascript:toEdit("+data[i].id+");' value='edit'/>"
				+ "<input class='btn btn-link btn-xs' id='button2"			+data[i].id+"' type='button' onclick='javascript:toGrant("+data[i].id+");' value='grant'/></td>"
			datalisthtml = datalisthtml + "</tr>" ;
	    }

		datalisthtml = datalisthtml+ "</table>";
		$("#datalist").html(datalisthtml);
	} else {
		$("#datalist").html("No data found.");
	}
};

function doCreate(){
	var name = $("input[name='name']").val();
	if (name==null||name==""){
		document.getElementById("tips").innerText="Name Must NOT be empty.";
		return;
	} 
	var data={};
	$("#roleform").serializeArray().map(function(x){data[x.name]=x.value;});
	var postdata = JSON.stringify(data);

	$.ajax({
		type: "POST",
		url: l("/rest/roles"),
		contentType: "application/json;charset=utf-8",
		data: postdata,
		dataType: "json",
		success:function (result) {
			if (result.code=="1") {
				listAll();
  	       	} else {
  	       		document.getElementById("tips").innerText="Name Exist.";
  	       	} 
		},
		error:function (message) {
			document.getElementById("tips").innerText = JSON.stringify(message);
		}
	});
};

function toEdit(id){

	setEditEnabled(id,true);
	
};
function toGrant(id){
	window.location.href = getContextPath()+"/role/grant?id="+id;
	
};

function doEdit(id){
	var id = 			$("#rid"+id).val();
	var name = 			$("#rname"+id).val();
	var description = 	$("#rdescription"+id).val();
	var status = 		$("#rstatus"+id).val();
	var postdata = {"id": id, "name": name, "description": description, "status": status};

	$.ajax({
		type: "PUT",
		url: l("/rest/roles/"+id),
		contentType: "application/json;charset=utf-8",
		data: JSON.stringify(postdata),
		dataType: "json",
		success:function (result) {
			if (result.code=="1") {
				setEditEnabled(id,false);
  	       	} else {
  	       		document.getElementById("tips").innerText="Key Exist.";
  	       	}
		}
	});
};

function setEditEnabled(id,enabled){

	if(enabled) {
		$("#button"+id).removeAttr("onclick"); 
		$("#button"+id).attr("onclick","doEdit("+id+")"); 
		$("#button"+id).removeAttr("value"); 
		$("#button"+id).attr("value","SUBMIT"); 
	
		$("#rname"+id).removeAttr("readOnly");
		$("#rdescription"+id).removeAttr("readOnly");
		$("#rstatus"+id).removeAttr("readOnly");
	} else {
		
		$("#button"+id).removeAttr("onclick"); 
		$("#button"+id).attr("onclick","toEdit("+id+")"); 
		$("#button"+id).removeAttr("value"); 
		$("#button"+id).attr("value","edit"); 
	
		$("#rname"+id).attr("readOnly","readOnly");
		$("#rdescription"+id).attr("readOnly","readOnly");
		$("#rstatus"+id).attr("readOnly","readOnly");
		
	}
	
};
function doCreatePermission(){
	$("#loadpermissionbutton").button('loading').queue();
	$.ajax({
		type: "POST",
		url: l("/rest/permissions/initialization"),
		contentType: "application/json;charset=utf-8",
		dataType: "json",
		success:function (result) {
			if (result.code=="1"){
				document.getElementById("tips").innerText=" Permission Init OK,"+result.data;
			} else {
				document.getElementById("tips").innerText= result.msg;
			}
            $("#loadpermissionbutton").button('reset');
            $("#loadpermissionbutton").dequeue(); 
  	       	
		}
	});
	
};
</script>