<html layout:decorator="fragment/layout">
<div layout:fragment="content">
	<div id="vueproject">
		<span class="text-left" style="font-size: 24px">{{project.code}}{{project.name}}</span>
 		<p>
			<span class="text-muted" style="font-size: 14px" id="documentcreationdate"></span>&nbsp;&nbsp;
			<span class="text-info" style="font-size: 14px"  id="documentcreator"></span>
		</p>
		<ul class="nav nav-tabs">
			<li class="active"><a>Info</a></li>
			<li><a th:href="@{/proj/to-do}">To-do</a></li>
		</ul>
		
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
				<span class="text-muted">{{project.customer}}</span>
			</div><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
				<span class="text-muted" >{{project.amount}} {{project.currency}}</span>
			</div><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
				<span class="text-muted" >{{project.supplier}}</span>
			</div><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" >
				<span class="text-muted" >{{project.deliveryDate}}</span>
			</div>
		</div>	
		
	</div>
	<table width="100%" algin="top" >
		<tr>
			<td class="panel panel-default" width="85%" valign="top">
				<div class=" pull-left" style="min-height: 250px;">
				 	<p class="center-block" id="ckeditorcontent" style="word-break:break-all;"></p>
				</div>
			</td>

			<td valign="top" class="visible-lg visible-md">
				<div class="panel panel-default" style="display: none;" id="contentversions">
					<ul class="nav nav-tabs nav-stacked" id="vuecontentversions">
						<li v-for="entry in contentVersions"><a href="#"
							v-on:click="doFindContent(entry.id)">{{ entry.lastUpdateDate }}</a></li>
					</ul>
				</div>
				<div id="projectgallery" class="panel panel-default" style="display: none;">
					<ul class="nav nav-tabs nav-stacked" >
						<li><a onClick="javascript:toGallery();">Gallery</a></li>
					</ul>
				</div>
				<div id="projecteditor" class="panel panel-default"	style="display: none;">
					<ul class="nav nav-tabs nav-stacked" >
						<li><a onClick="javascript:toEditor();">Editor</a></li>
					</ul>
				</div>

			</td>
		</tr>

	</table>

	<HR align="CENTER" width="100%"></HR>

	<div id="commentlist" class="panel panel-default" style="width: 100%; display: none;">
		<ul class="list-group" id="vuecommentlist">
			<li class="list-group-item" v-for="(entry, index) in commentList"><p class="text-info" >{{ entry.html }}</p>
			<p class="text-muted text-right" style="font-size: 14px">#{{ index+1 }}--&nbsp;{{ entry.creator }}&nbsp;{{ entry.lastUpdateDate }}</p></li>
		</ul>
	</div>
	

		<form id="commentform">

			<div class="panel panel-default">
				<div class="panel-body">
			      	<textarea class="form-control"
						id="comment" name="comment"  rows="1"
						placeholder="Comments here."></textarea>
				<br>
					<button class="btn btn-primary btn-sm pull-right" type="button"
						onclick='doSubmitComment();'>SUBMIT</button>
			    </div>
			</div>
		</form>
</div>
</html>

<script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
<script type="text/javascript" th:src="@{/js/ckeditor5-doc.js}"></script>
<script type="text/javascript">
var projectid;
var projectdefaultdocumentid;
var projectdefaultgalleryuuid;
var uuid=getQueryString("uuid");
if(uuid==null||uuid==''||uuid === 'undefined'){
	uuid = '[[${uuid}]]';
}
var vueproject;
vueproject = new Vue({
	el: '#vueproject',
	data: {
		project:{}
	}
});
var vuecontentversions;
vuecontentversions = new Vue({
	el: '#vuecontentversions',
	data: {
		contentVersions: []
	}
});
var vuecommentlist;
vuecommentlist = new Vue({
	el: '#vuecommentlist',
	data: {
		commentList: []
	}
});
var myEditor;
$(document).ready(function(){
	DecoupledEditor
	    .create( document.querySelector( '#ckeditorcontent' ) )
	    .then( function (editor) {
	    	editor.isReadOnly = true; 
	        myEditor = editor;
	    } )
	    .catch( function (error) {
	        console.error( error );
    } );
	findInfo();
});

function findInfo(){	
	$.ajax({
		type: "GET",
		url: l("/rest/projects/uuid-"+uuid),
		contentType: "application/json;charset=utf-8",
		dataType: "json",
		success:function (result) {
			handleResultCode(result, function (result) {

				var projectdto = result.data;
				var project = projectdto.project;
				var documentdto = projectdto.defaultDocumentDto;
				projectid = project.id;
				projectdefaultdocumentid = projectdto.defaultDocumentId;
				vueproject.project = project;

				$("#documentname").html(documentdto.document.name);
				$("#documentcreator").html(documentdto.creator.name+" "+documentdto.creator.realName+" ");
				$("#documentcreationdate").html(documentdto.document.creationDate);
				
				if(documentdto.contentList!=null){
					document.getElementById('contentversions').style.display='block';
					vuecontentversions.contentVersions = documentdto.contentList;
				}
				if(documentdto.commentList!=null&&documentdto.commentList.length>0){
					document.getElementById('commentlist').style.display='block';
					vuecommentlist.commentList = documentdto.commentList;
				}
				if(projectdto.defaultGalleryUuid!=null){
					document.getElementById('projectgallery').style.display='block';
					projectdefaultgalleryuuid = projectdto.defaultGalleryUuid;
				}
				myEditor.setData(documentdto.content.html);
			});
		}
	});
	
}
function doFindContent(contentid){
	$.ajax({
		type: "GET",
		url: l("/rest/projects/"+projectid+"/docs/"+projectdefaultdocumentid+"/contents/"+contentid),
		contentType: "application/json;charset=utf-8",
		dataType: "json",
		success:function (result) {		
			handleResultCode(result, function (result) {
				myEditor.setData(result.data.html) 
			});
		}
	});
	
}
var validateParameters = {
     rules:{
     	comment: {
             required: true,
             maxlength: 3000
       	}
     }
};

function doSubmitComment(){
	if(JQueryValidate($("#commentform"),validateParameters)){
		var comment = $("textarea[name='comment']").val();
		var postdata;
		postdata = {"html": comment };
		postdata = JSON.stringify(postdata);
		$.ajax({
			type: "POST",
			url: l("/rest/projects/"+projectid+"/docs/"+projectdefaultdocumentid+"/comments"),
			contentType: "application/json;charset=utf-8",
			data: postdata,
			dataType: "json",
			success:function (result) {
				handleResultCode(result, function (result) {
					doFindComments();
					$("textarea[name='comment']").val("");
				});		
			}
		});
	}
	
}
function doFindComments(){
	$.ajax({
		type: "GET",
		url: l("/rest/projects/"+projectid+"/docs/"+projectdefaultdocumentid+"/comments"),
		contentType: "application/json;charset=utf-8",
		dataType: "json",
		success:function (result) {		
			handleResultCode(result, function (result) {
				if(result.data!=null){
					//callback(result);
					if(result.data!=null&&result.data.length>0){
						document.getElementById('commentlist').style.display='block';
						vuecommentlist.commentList = result.data;
					}
				}
			});
		}
	});
	
}

function toGallery(){
	window.location.href = getContextPath()+"/prof/gallery/viewer-image?uuid="+projectdefaultgalleryuuid;
}
function toEditor(){
	
}

</script>